.container{
    width: 50%;
    margin: 0 auto;
    background: var(--bg-color);
}

.todoSection{
    display: flex;
    margin-bottom: 10px;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: var(--text-color);
}
.input{
    width: 100%;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    margin-right: 10px;
}

.todoComponent{
    display: flex;
}
.addButton{
    background: var(--btn-bg);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

.todoItems{
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: var(--task-border);
}

.todoName{
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
}
.date{
    margin: 0 10px;
    color: var(--data-text);
}
.deleteButton{
    border: none;
    background-color: red;
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.nullTodos{
    text-align: center;
    color: var(--text-color);
}
.completed {
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: line-through;
    color: gray;
}
